apiVersion: v1
kind: ConfigMap
metadata:
  name: global-config
data:
  SPANNER_EMULATOR_HOST: "cloud-spanner-emulator:9010"
  SPANNER_DATABASE_URI: "projects/my-project/instances/my-instance/databases/db"
  LOCAL_BLOB_STORAGE_PATH: "/blob-storage"
